new_style.css
new_index.html
.vscode/launch.json
src/pregen/script.js
src/test/index.html
src/test/script.js
src/test/style.css
.vscode/ltex.disabledRules.en-US.txt
.gitignore

// vite gitignore

!**/glob-import/dir/node_modules
.DS_Store
.idea
.pnpm-store
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/docs/.vitepress/.temp
/packages/vite/LICENSE
dist-ssr
explorations
node_modules
playground-temp
temp
TODOs.md
.eslintcache

dist/